name: RLlib EnergyPlus Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Test RL EnergyPlus
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: "1.5.1"

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "poetry"

      - name: Install EnergyPlus
        run: |
          ENERGYPLUS_VERSION="23.2.0"
          ENERGYPLUS_SHA="7636e6b3e9"
          ENERGYPLUS_DOWNLOAD_URL="https://github.com/NREL/EnergyPlus/releases/download/v${ENERGYPLUS_VERSION}/EnergyPlus-${ENERGYPLUS_VERSION}-${ENERGYPLUS_SHA}-Linux-Ubuntu22.04-x86_64.sh"
          wget --quiet "${ENERGYPLUS_DOWNLOAD_URL}" -O /tmp/eplus_install.sh
          (echo "y"; echo ""; echo "y";) | sudo bash /tmp/eplus_install.sh

      - name: Execute tests
        env:
          PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
        run: |
          poetry install
          poetry run tests
